
<script src="https://www.w3schools.com/lib/w3.js"></script>
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
<!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>
<!-- <ul class="quotes"> -->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
crossorigin="anonymous"></script>

<body background="https://www.publicdomainpictures.net/pictures/170000/velka/dollars-background-1462088245uKr.jpg">

  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Expenses Report</div>
    <div class="card-body">
      <div class="table-responsive">
  <table class="w3-table-all" id="dataTable" >
    <thead>

      <tr>
        <th onclick="w3.sortHTML('#dataTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">Date</th>

        <th onclick="w3.sortHTML('#dataTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">Name of Income/Expense</th>
        <th onclick="w3.sortHTML('#dataTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">Income/Expense</th>
        <th onclick="w3.sortHTML('#dataTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">Net</th>
      </tr>
    </thead>
    <% for(var i=0; i<quotes.length; i++) {%>

    <tbody>


          <% if(isNaN(quotes[i].income)){%>
            <tr class="item">
            <td><font size="3" color="red"><%= quotes[i].date.toString().substring(0, 10) %></font></td>
            <td><font size="3" color="red"><%= quotes[i].nameExpense %></font></td>
            <td><font size="3" color="red"><%= "-$" + quotes[i].expense %></font></td>
            <td><font size="3" color="red"><%= "$" + net[i] %></font> </td>
            </tr>
          <% } else { %>
            <tr class="item">
              <td><font size="3" color="green"><%= quotes[i].date.toString().substring(0, 10) %></font></td>

            <td><font size="3" color="green"><%= quotes[i].typeIncome %></font></td>
            <td><font size="3" color="green"><%= "+$" + quotes[i].income %></font></td>
            <td><font size="3" color="green"><%= "$" + net[i] %> </font></td>
            </tr>
      <% } %>




    </tbody>
  <% } %>
  </table>
  </div>
  </div>
  </div>
  </body>
<!-- </ul> -->
